<template name="page">
  <div class="wrap">

    <header class="site-header">
      <img class="mark" src="/images/mark-paul_mederos.png" />
    </header>

    <section class="about-me card">
      <div class="about-photo-container">
        <img class="about-photo" src="/images/paul+britt.png" />
      </div>
      <div class="about-content">
        <p>Hi, I'm Paul Mederos.</p>
        <p>My mission in life is to bring joy to others; to help them live more fulfilling lives.</p>
        <p>Design is how I do that; building useful,  delightful, digital products is what I do.</p>
      </div>
    </section><!-- /.about-me -->

    <section class="on-the-internet">

    </section><!-- /.on-the-internet -->
  </div>
</template>