<template name="page">
  <div class="wrap">

    <header class="site-header">
      <a href="/" class="mark hide-text">PaulMederos.com</a>
    </header>

    <section class="about-me card" style="display:none">
      <div class="about-photo-container">
        <span class="image-caption">My wonderful wife and I</span>
      </div>
      <div class="about-content">
        <p>Hi, I'm Paul Mederos.</p>
        <p>My mission in life is to bring joy to others; to help them live more fulfilling lives.</p>
        <p>Design is how I do that; building useful,  delightful, digital products is what I do.</p>
      </div>
    </section><!-- /.about-me -->

    <button class="find-me-button" style="display:none;">Find me on the internets</button>

    <section class="on-the-internet" style="display:none;">
      <ul class="internet-cards">

        <li class="card internet-card">
          <a href="http://enchant.co" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-enchant.png">
            <h3>Running <b>Enchant</b></h3>
            <p>A digital product design studio</p>
          </a>
        </li>

        <li class="card internet-card">
          <a href="http://getkale.com" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-kale.png">
            <h3>Guiding nutrition at <b>Kale</b></h3>
            <p>iOS app to help you eat healthier</p>
          </a>
        </li>

        <li class="card internet-card">
          <a href="http://medium.com/@pvm" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-medium.png">
            <h3>Writing on <b>Medium</b></h3>
            <p>Design, startups, and psychology</p>
          </a>
        </li>

        <li class="card internet-card">
          <a href="http://twitter.com/pvm" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-twitter.png">
            <h3>Philosophizing on <b>Twitter</b></h3>
            <p>Tweets may induce… feelings?</p>
          </a>
        </li>

        <li class="card internet-card">
          <a href="http://facebook.com/pvmederos" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-facebook.png">
            <h3>Being a nerd on <b>Facebook</b></h3>
            <p>Personal moments and photos</p>
          </a>
        </li>

        <li class="card internet-card">
          <a href="http://dribbble.com/pvm" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-dribbble.png">
            <h3>Visual design on <b>Dribbble</b></h3>
            <p>Delicious little nuggets of design works</p>
          </a>
        </li>

        <li class="card internet-card">
          <a href="http://instagram.com/pvmederos" class="internet-card-link group" target="_blank">
            <img class="internet-card-icon" src="/images/icon-instagram.png">
            <h3>Pro photos (...not) on <b>Instagram</b></h3>
            <p>Mostly food, because I like great food</p>
          </a>
        </li>

      </ul><!-- /.internet-cards -->
    </section><!-- /.on-the-internet -->
  </div><!-- /.wrap -->
</template>